[env:esp32dev]
; Copy this file to platformio.local.ini and use the same value as OTA_PASSWORD
; in include/secrets.h. This file is ignored by Git.
upload_flags =
    --auth=choose-a-long-ota-password
